*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
input[type="text"]{
     background-color: #2e3047;
     width: 65%;
     text-decoration: none;
     border: 1px solid #2e3047;
     border-radius: 10px;
     height: 50px;
     color: white;
     font-size: 25px;
     padding-left: 10px;
}
input[type="text"]:hover{
    border: 2px solid #0082FC;
}
input[type="Submit"]{
     margin-left: 10px;
     background-color: #0082FC;
     width: 15%;
     text-decoration: none;
     border: 1px solid #0082FC;
     border-radius: 5px;
     height: 50px;
     color: white;
     font-size: 20px;
     padding-left: 5px;
}
input[type="Submit"]:hover{
    border: 2px solid #0082FC;
    transform: scale(1.1);
    background-color: #0A192F;
    cursor: pointer;
}

