{% extends 'base.html' %}

{% block content %}
    <h1 style="color: white;">{% block title %} MAC SCAN {% endblock %}</h1>
    <html> 
     <head>
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="../static/main.css" />
     </head>
     
     <body>

        <form class="grid" action="/scan_mac/result" method="POST">
          <input class="file_submit" type="text" placeholder="Enter a valid mac address !" id="target_mac" name="target_mac">
          <input class="file_submit" type="Submit" value="Scan"><br><br>
        </form>

        <ul>
          {% for service in services %}
            <li style="list-style-type: none;"><h7>Nom : {{ service.name }}</h7></li>
            <li style="list-style-type: none;"><h7>Port : {{ service.port }}</h7></li>
            <li style="list-style-type: none;"><h7>Protocole : {{ service.protocol }}</h7></li><br>
          {% endfor %}
        </ul>



     </body>
</html>
{% endblock %}