{% extends 'base.html' %}

{% block content %}
    <h1 style="color: white;">{% block title %} SETTINGS {% endblock %}</h1>
    <html> 
     <head>
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="../static/main.css" />
     </head>
     
     <body>
        <h4>Your bleutooth card</h4>
        <input class="file_submit" type="Submit" value="Activate" onclick="displayResult()" style="margin-right: 25px;">
        <input class="file_submit" type="Submit" value="Deactivate" onclick="displayResult2()">
        <h5 id="result"></h5>
        <h6 id="result2"></h6>
        <input class="file_submit" type="Submit" value="info" onclick="displayResult3()">
        <h4 id="result3"></h4>

    <script>
    function displayResult() {
      fetch('/settings/cmd_hci')
        .then(response => response.text())
        .then(result => {
          document.getElementById('result').innerHTML = result;
        });
        document.getElementById('result2').innerHTML = "";
    }
    function displayResult2() {
      fetch('/settings/cmd_hci2')
        .then(response => response.text())
        .then(result => {
          document.getElementById('result2').innerHTML = result;
        });
        document.getElementById('result').innerHTML = "";

    }
    function displayResult3() {
      fetch('/settings/hciconfig')
        .then(response => response.text())
        .then(result => {
          document.getElementById('result3').innerHTML = result;
        });
    }
    </script>

     </body>
</html>
{% endblock %}
